---
import ReactFormTemplate from "./react/FormStepPreregistration";
---

<section
  class="mx-auto bg-white w-full max-w-4xl min-h-[32rem] h-auto my-8 p-4 rounded-lg border-2 border-gray-300 flex flex-col justify-between"
>
  <ReactFormTemplate client:only="preact" />
</section>
